@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
body {
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
}
.cuestionario {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cuestionario input {
  background-color: #f6f6f6;
  border-style: none;
  border: 2px solid #808080;
  border-radius: 5px;
  width: 50px;
  height: 25px;
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 10px;
}
button.boton{
  font-family: 'Raleway', sans-serif;
  width: 60px;
  height: 40px;
  background-color: #5cdb5c;
  border: 2px solid #4fa74f;
  border-radius: 15px;
  margin: 15px;
  outline-style: none;
}
button.boton:active{
  background-color: #43bb43;
  border: 2px solid #236b23;
}
.mensaje-error {
  display: none;
  margin: 10px auto;
  text-align: center;
  width: 200px;
  padding: 5px;
  color: rgb(0, 0, 0);
  background-color: #ff75757a;
  border: 2px solid #a7242f;
  border-radius: 10px;
}
.calendario-container {
  display: none;
}
.date-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background-color: #d7ecff;
  padding: 5px;
  margin-bottom: 3px;
}
.nombres-container {
  width: fit-content;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(7,min-content);
  grid-auto-rows: 1fr;
  gap: 5px;
  margin-bottom: 5px;
}
.nombre {
  width: 100px;
  height: 60px;
  background-color: #a1d3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 3px solid #2c90ee;
  border-radius: 3px;
}
.contenedor-cuadricula {
  display: flex;
  justify-content: center;
}
.cantidad-dias {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(7,min-content);
  grid-auto-rows: 1fr;
  gap: 5px;
  margin: 0;
}
.fecha {
  width: 100px;
  height: 90px;
  background-color: #ffffff;
  border: 1px solid #808080;
  border-radius: 5px;
  padding: 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
@media screen and (max-width: 745px) {
  .cuestionario {
    flex-wrap: wrap;
  }
  .date-title {
    width: 300px;
  }
  .nombre {
    width: 40px;
    height: 40px;
  }
  .fecha {
    width: 40px;
    height: 40px;
  }
}